.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
  margin: 10px;
}

h3 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 2em;
}
